.content {
  box-sizing: border-box;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 48px;
}

@media (max-width: 800px) {
  .content {
    padding: 0 24px;
  }
}

@media (max-width: 425px) {
  .content {
    padding: 0 16px;
  }
}