.lead__title {
  display: block;
  max-width: 720px;
  margin: 0 auto;
  padding: 0;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.05;
  text-align: center;
}

@media (max-width: 800px) {
  .lead__title {
    padding: 0 24px;
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}

@media (max-width: 425px) {
  .lead__title {
    padding: 0 16px;
  }
}