.lead__image {
  margin: 64px auto 8px;
  width: 984px;
  height: 615px;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (max-width: 414px) {
  .lead__image {
    margin-top: 40px;
  }
}