@import url('./__list-item/intro__list-item.css');
@import url('./__list-item/intro__list-item-total.css');
@import url('./__list/intro__list.css');
@import url('./__text/intro__text.css');
@import url('./__title/intro__title.css');

.intro {
  padding: 64px 0;
}

@media (max-width: 800px) {
  .intro {
    padding: 60px 0;
  }
}

@media (max-width: 425px) {
  .intro {
    padding: 36px 0;
  }
}