@import url('./__background/cover__background.css');
@import url('./__overlay/cover__overlay.css');
@import url('./__subtitle/cover__subtitle.css');
@import url('./__title/cover__title.css');
@import url('./__title-container/cover__title-container.css');

.cover {
  padding: 8px 0 68px;
}

@media (max-width: 1024px) {
  .cover {
    padding: 2px 0 68px;
  }
}

@media (max-width: 800px) {
  .cover {
    padding: 8px 0 62px;
  }
}

@media (max-width: 425px) {
  .cover {
    padding: 0 0 42px;
  }
}