.place__link {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 4px;
  color: white;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  transition: opacity .3s ease-in-out;
}

.place__link:hover {
  opacity: .8;
}