.photo-grid__items {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  max-width: 1184px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .photo-grid__items {
    grid-gap: 14x;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 800px) {
  .photo-grid__items {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 425px) {
  .photo-grid__items {
    grid-gap: 12x;
    grid-template-columns: 1fr;
  }
}