.photo-grid__items {
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 13px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  max-width: 1184px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

@media (max-width: 1024px) {
  .photo-grid__items {
    grid-column-gap: 14px;
    grid-row-gap: 11px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 800px) {
  .photo-grid__items {
    grid-row-gap: 12px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 425px) {
  .photo-grid__items {
    grid-row-gap: 9px;
    grid-template-columns: 1fr;
  }
}