@import url('./__container/footer__container.css');
@import url('./__copyright/footer__copyright.css');
@import url('./__link/footer__link.css');
@import url('./__link-container/footer__link-container.css');

.footer {
  display: flex;
  max-width: 1184px;
  margin: 0 auto;
  padding: 24px 48px;
}

@media (max-width: 800px) {
  .footer {
    padding: 24px;
  }
}

@media (max-width: 760px) {
  .footer {
    flex-direction: column;
    padding: 24px 16px;
  }
}
